name: Check

on:
  push:
    branches:
      - "main"
  pull_request:

jobs:
  main:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [24]

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: "${{ matrix.node-version }}"

      - id: cache-node_modules
        uses: actions/cache@v4
        with:
          path: node_modules
          key: internal-node_modules-${{ matrix.os }}-${{ matrix.node-version }}-${{ hashFiles('package.json', 'package-lock.json') }}

      - if: steps.cache-node_modules.outputs.cache-hit != 'true'
        run: npm ci --no-audit

      - run: npx tsc

      - run: npx eslint --report-unused-disable-directives .

      - run: npx prettier --check .
