name: Test

on:
  push:
    branches:
      - "main"
  pull_request:

jobs:
  main:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          [
            ubuntu-latest,
            ubuntu-24.04-arm,
            macOS-latest,
            macos-15-intel,
            windows-latest,
          ]
        # Node.js 10 is the oldest supported version.
        # CI takes forever if we test every version, so we just test
        # the supported, even, versions as well as Node.js 10 and
        # assume that everything in between works too.
        node-version: [10, 20, 22, 24]
        exclude:
          # Not supported on macOS ARM.
          - os: macOS-latest
            node-version: 10
          # Not supported on Linux ARM.
          - os: ubuntu-24.04-arm
            node-version: 10

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: "${{ matrix.node-version }}"

      - id: cache-node_modules
        uses: actions/cache@v4
        with:
          path: node_modules
          key: internal-node_modules-${{ matrix.os }}-${{ matrix.node-version }}-${{ hashFiles('package.json', 'package-lock.json') }}

      - if: steps.cache-node_modules.outputs.cache-hit != 'true'
        run: npm ci --no-audit

      - run: npx jest --coverage

      - run: npx ts-node scripts/TestAllDownloads.ts

      - run: npx ts-node scripts/TestIntegration.ts

      - run: npx ts-node scripts/TestGetExecutable.ts
